<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title><span th:text="#{ciudad.buscar.titulo}"></span></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
</head>
	
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script>
    $(document).ready(function(){
      var date_input=$('input[name="fecha"]'); 
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'dd/mm/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
<body>

	<div class="starter-template">
        <h1><span th:text="#{empresa}"></span></h1>
        <h2 th:text="${formBean.id} ? #{climaExtendido.buscar.titulo}: #{climaExtendido.buscar.titulo}" />
    </div>
    
    <form  th:action="@{/climaExtendidoBuscar}" th:object="${formBean}" method="post">
		<p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
   		<input type="hidden" id="idCiudadSeleccionada" th:field="*{idCiudadSeleccionada}" />
   		
   		<table class="botones">
	   		<tr>
				<td><input type="submit" name="action" value="Buscar" /></td>
				<td><input type="submit" name="action" value="Cancelar" /></td>
			</tr>
		</table>
		
		<a href="" id="agregar" class="btn btn-primary">
	         Agregar
	    </a>
				
		<table  class="resultados" border="0" style="align-self: center;">
		    <thead>
		      <tr>
		        <th ><label th:text="#{climaExtendido.fecha.titulo}" /></th>
		        <th ><label th:text="#{climaExtendido.porcentajeLluvia.titulo}" /></th>
		        <th ><label th:text="#{climaExtendido.mmLluvia.titulo}" /></th>
		        <th ><label th:text="#{climaExtendido.descripcion.titulo}" /></th>
		        <th ></th>
		        <th ></th>
		      </tr>
		    </thead>
		    <tbody id="tbody">
		      <tr th:each="p : ${resultados}" th:id="${{p.id}}">
				  	<td th:text="${{p.fecha}}"></td>
			        <td th:text="${{p.porcentajeLluvia}}"></td>
			        <td th:text="${{p.mmLluvia}}"></td>
			        <td th:text="${{p.descripcion}}" ></td>
			        <td>
	                    <a id="editar" th:href="@{/climaExtendidoEditar/{idCiudad}/{fecha}(idCiudad=${p.ciudad.id},fecha=${p.fecha})}" class="btn btn-primary">
	                        editar
	                    </a>
	                </td>
		      </tr>
		    </tbody>
	    </table>
   	</form>  

<script>
	idCiudadSeleccionada = window.location.pathname.split("/")[2];
	if (idCiudadSeleccionada == null){
		idCiudadSeleccionada = (document.getElementById("editar").getAttribute("href").split("/")[2]);
	}
    document.getElementById("idCiudadSeleccionada").setAttribute("value", `${idCiudadSeleccionada}`);
    document.getElementById("agregar").setAttribute("href", `/climaExtendidoEditar/${idCiudadSeleccionada}`);
    
</script>
</body>
</html>	